$landing-page-main-color: rgb(233, 96, 155);
$landing-accent-color: gold;
$landing-page-font: 'Sriracha', cursive;


.landing-page {
  font-family: $landing-page-font;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url('../images/pink-diamond-barbie-head.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: -22px;

      .start-button {
        background: rgba(233, 96, 155, 0.7);
        border-radius: 2%;
        border: 5px solid $landing-page-main-color;
      }
      
    .intro-form {
      display: flex;
      flex-direction: column;
      margin-top: 16%;
    }

    input {
      width: 300px;
      height: 50px;
      border-radius: 2%;
      border: 5px solid $landing-page-main-color;
      margin-bottom: 15px;
    }

    h1 {
      color: $landing-accent-color;
    }

    .hidden {
      display: none;
    }
  }
